* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), #000000), url(images/cold.jpg) no-repeat center / cover;
}
.hot {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), #000000), url(images/hot.jpg) no-repeat center / cover;
}
.hot .weather {
  background: url(images/hot.jpg) no-repeat center / cover;
}
.hot .weather .input {
  color: #f98866;
  background-color: rgba(255, 242, 215, 0.8);
}
.hot .weather .content {
  color: #f98866;
}
.hot .weather .content .info {
  background-color: rgba(255, 242, 215, 0.8);
}
.hot .weather .content .temperature {
  background-color: rgba(255, 242, 215, 0.8);
}
.hot .weather .content .description {
  background-color: rgba(255, 242, 215, 0.8);
}
.hot .weather .no-content {
  color: #f98866;
  background-color: rgba(255, 242, 215, 0.8);
}
.cold {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), #000000), url(images/cold.jpg) no-repeat center / cover;
}
.cold .weather {
  background: url(images/cold.jpg) no-repeat center / cover;
}
.cold .weather .input {
  color: #2bae66;
  background-color: rgba(0, 32, 63, 0.8);
}
.cold .weather .content {
  color: #2bae66;
}
.cold .weather .content .info {
  background-color: rgba(0, 32, 63, 0.8);
}
.cold .weather .content .temperature {
  background-color: rgba(0, 32, 63, 0.8);
}
.cold .weather .content .description {
  background-color: rgba(0, 32, 63, 0.8);
}
.cold .weather .no-content {
  color: #2bae66;
  background-color: rgba(0, 32, 63, 0.8);
}
.weather {
  min-width: 350px;
  padding: 30px 20px;
  border-radius: 10px;
  text-align: center;
}
.input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 0 15px 0 15px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  font-size: 19px;
  margin-bottom: 40px;
  transition: 0.3s;
}
.input:focus {
  background-color: #FAEBEF;
  border-radius: 15px 0 15px 0;
}
.content .info {
  font-size: 40px;
  text-shadow: 1px 1px #3338;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.6);
}
.content .info .time {
  margin-top: 10px;
  font-size: 16px;
}
.content .temperature {
  align-items: center;
  font-size: 70px;
  font-weight: bold;
  padding: 20px 0;
  margin: 40px 40px 20px 40px;
  border-radius: 10px;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.6);
}
.content .temperature sup {
  vertical-align: super;
}
.content .description {
  padding-bottom: 5px;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.6);
}
.content .description .short-desc {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}
.content .description .more-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .description .more-desc > div {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.content .description .more-desc > div span {
  margin-top: 10px;
}
.no-content {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
  margin: 0 20px;
  width: 350px;
  height: 400px;
  font-size: 50px;
}
.hide {
  display: none;
}
